{% extends 'tools_base.html' %}
{% block head %}
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            404 Error Page
        </h1>
    </section>
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 404</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
                <p>
                    We could not find the page you were looking for.
                    Meanwhile, you may <a href="{{ url_for('tools.tools') }}">return to Home</a> or try using the search
                    form.
                </p>
                <form class="search-form" action="{{ url_for('tools.tools') }}">
                    <div class="input-group">
                        <button type="submit" name="submit" class="btn btn-warning btn-flat">返回首页</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}