{% extends 'base.html' %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                添加/编辑管理员
                <small>Version 2.0</small>
            </h1>
        </section>
        <section class="content">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Horizontal Form</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">管理员</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">密码</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword32" placeholder="Password1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">管理员权限</label>
                            <div class="col-sm-10">
                                <select class="form-control select2" id="admin_info">
                                    <option selected="selected"
                                            value="">超级管理员
                                    </option>
                                    {% for admin_name in user_list %}
                                        <option value="{{ admin_name }}">{{ admin_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">点击确认</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        $('.select2').select2();
    </script>
{% endblock %}