{% extends 'base.html' %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                首页 - 用户信息
                <small>Version 2.0</small>
            </h1>
        </section>
        <section class="content">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ admin_info.UserName }}</h3>
                        <p>当前管理员</p>
                    </div>
                    <div class="icon">
                        <span class="fa fa-fw fa-user"></span>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ user_ip }}</h3>
                        <p>当前用户登入ip</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-fw fa-map-signs"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}