{% extends 'base.html' %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Data Tables
                <small>advanced tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Tables</a></li>
                <li class="active">Data tables</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box">
                            <div class="box-body">
                                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="example2" class="table table-bordered table-hover dataTable"
                                                   role="grid" aria-describedby="example2_info">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting">状态</th>
                                                    <th class="sorting">代理</th>
                                                    <th class="sorting">用户</th>
                                                    <th class="sorting">总充值</th>
                                                    <th class="sorting">单笔最大输赢值</th>
                                                    <th class="sorting">身上 银行 / 游戏币</th>
                                                    <th class="sorting">游戏</th>
                                                    <th class="sorting">总输赢</th>
                                                    <th class="sorting">总库存</th>
                                                    <th class="sorting">青,白,黄</th>
                                                    <th class="sorting">vip</th>
                                                    <th class="sorting">注册时间</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr role="row" class="odd">
                                                    <td class="">白名单5</td>
                                                    <td class="">测试推荐码功能</td>
                                                    <td class="">Yy117Y [ 175121 ]</td>
                                                    <td class="">Embedded devices</td>
                                                    <td class="">Embedded devices</td>
                                                    <td class="">Embedded devices</td>
                                                    <td class="">Embedded devices</td>
                                                    <td class="">Embedded devices</td>
                                                    <td class="">Embedded devices</td>
                                                    <td class="">Embedded devices</td>
                                                    <td class="">Embedded devices</td>
                                                    <td class="">2019-03-06 14:46:59</td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                 id="example2_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button previous disabled"
                                                        id="example2_previous"><a href="#" aria-controls="example2"
                                                                                  data-dt-idx="0"
                                                                                  tabindex="0">Previous</a></li>
                                                    <li class="paginate_button active"><a href="#"
                                                                                          aria-controls="example2"
                                                                                          data-dt-idx="1"
                                                                                          tabindex="0">1</a></li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="2" tabindex="0">2</a>
                                                    </li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="3" tabindex="0">3</a>
                                                    </li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="4" tabindex="0">4</a>
                                                    </li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="5" tabindex="0">5</a>
                                                    </li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="6" tabindex="0">6</a>
                                                    </li>
                                                    <li class="paginate_button next" id="example2_next"><a href="#"
                                                                                                           aria-controls="example2"
                                                                                                           data-dt-idx="7"
                                                                                                           tabindex="0">Next</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}