{% extends 'base.html' %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Data Tables
                <small>advanced tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Tables</a></li>
                <li class="active">Data tables</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box">
                            <div class="box-body">
                                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="item1-table" class="table table-bordered table-hover dataTable"
                                                   role="grid" aria-describedby="example2_info">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting">状态</th>
                                                    <th class="sorting">代理</th>
                                                    <th class="sorting">用户</th>
                                                    <th class="sorting">总充值</th>
                                                    <th class="sorting">单笔最大输赢值</th>
                                                    <th class="sorting">身上游戏币 # 银行</th>
                                                    <th class="sorting">游戏</th>
                                                    <th class="sorting">总输赢</th>
                                                    <th class="sorting">总库存</th>
                                                    <th class="sorting">青,白,黄</th>
                                                    <th class="sorting">vip</th>
                                                    <th class="sorting">注册时间</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                                <tfoot>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                 id="example2_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button previous disabled"
                                                        id="example2_previous"><a href="#" aria-controls="example2"
                                                                                  data-dt-idx="0"
                                                                                  tabindex="0">Previous</a></li>
                                                    <li class="paginate_button active"><a href="#"
                                                                                          aria-controls="example2"
                                                                                          data-dt-idx="1"
                                                                                          tabindex="0">1</a></li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="2" tabindex="0">2</a>
                                                    </li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="3" tabindex="0">3</a>
                                                    </li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="4" tabindex="0">4</a>
                                                    </li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="5" tabindex="0">5</a>
                                                    </li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="6" tabindex="0">6</a>
                                                    </li>
                                                    <li class="paginate_button next" id="example2_next"><a href="#"
                                                                                                           aria-controls="example2"
                                                                                                           data-dt-idx="7"
                                                                                                           tabindex="0">Next</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <style type="text/css">
        .color0 {
            color: red;
        }

        .color2 {
            color: green;
        }
    </style>
    <script type="text/javascript">
        $(function () {
                var b1 = ['无', '白名单1', '白名单2', '白名单3', '白名单4', '白名单5'];
                var b2 = ['无', '黑名单1', '黑名单2', '黑名单3', '黑名单4', '黑名单5'];
                var status_change = function (a, b) {
                    var a = Number(a);
                    var b;
                    if (a > 0) {
                        var b = b1[a];
                    } else {
                        var a = -a;
                        var b = b2[a];
                    }
                    return b;
                };
                var p = 2;
                var pages = p - 1;
                var size = 25;
                var totals = p * size;
                var $tbody = $(this).find("tbody");
                $.post("{{ url_for('manager.ajax_online_user') }}", {
                    {#gameid: 0,#}
                    {#gameids: gid,#}
                    {#agentid: agentid,#}
                    {#two_agent: two_agent,#}
                    {#p: page,#}
                    {#usertype: usertype,#}
                    {#sorttype: sorttype,#}
                    {#userid: userid,#}
                    {#refreshtype: refreshtype,#}
                    {#roomid: roomid,#}
                    {#gameid2: gameid2#}
                }, function (list) {
                    {#var total = list.total;#}
                    {#$('#usernum').text(total);#}
                    var data = list.data;
                    {#var page_total = Math.ceil(total / 25);#}
                    {#var pps = pp - 1;#}
                    {#$('#page_box .mui-placeholder span:not(.mui-icon-search)').text("页码搜索/共" + page_total + "页");#}
                    if (data) {
                        var html = '';
                        for (var i = 0; i < data.length; i++) {
                            {#var top = ($('#page').val() == '') ? (32 * i + 42 + pages * size * 32) : (32 * i + 42 + pps * size * 32);#}
                            //	desk 	= (data[i]['desk']==32766) ? '未坐下' : parseInt(data[i]['desk'])+1 ;
                            var game = data[i]['gamename'];
                            if (data[i]['room'] != 0) {
                                game = data[i]['gamename'] + '-' + data[i]['roomname'];
                            }
                            //*获取 身上游戏币 显示变化数据*//
                            var money_up = parseInt(data[i]['moneyUp'], 10);
                            var money_down = parseInt(data[i]['moneyDown'], 10);
                            var max_win = parseInt(data[i]['maxwin'], 10);
                            var game_bi = parseInt(data[i]['gamebi'], 10);
                            var bank_gamebi = parseInt(data[i]['bankgamebi'], 10);
                            var str = '<tr style="height:32px;border:1px solid #ccc" class="tr">' +
                                '<td class="color' + data[i]['analysisgm'] + '">' + status_change(data[i]['gmlevel']) + '</td>' +
                                '<td>' + data[i]['agentname'] + '</td>' +
                                '<td class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal">' + data[i]['nickname'] + ' [ ' + data[i]['uid'] + ' ]</td>' +
                                '<td>' + data[i]['rechargetotal'] + '</td>' +
                                '<td title="最大输赢值">' + (max_win == 0 ? 0 : max_win) + '</td>' +
                                '<td title="余额" style="border-right:none;">' + (game_bi == 0 ? 0 : game_bi) + ' # ' + (bank_gamebi == 0 ? 0 : bank_gamebi) + '</td>' +
                                '<td>' + game + '</td>' +
                                '<td>' + data[i]['allwinlost'] + '</td>' +
                                '<td>' + data[i]['totalstock'] + '</td>' +
                                '<td>' + data[i]['copperbullet'] + ',' + data[i]['silverbullet'] + ',' + data[i]['goldbullet'] + '</td>' +
                                '<td>' + data[i]['viplevel'] + '</td>' +
                                '<td>' + data[i]['registertime'] + '</td></tr>';
                            html += str;//table.appendChild(s)//下拉刷新，新纪录插到最后面；
                        }
                        $tbody.append(html);
                    }
                }, "json");
            }
        );
    </script>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">用户: ####</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#myModal1">
                        财富日志
                    </button>
                    <button type="button" class="btn btn-block btn-info">名单管理</button>
                    <button type="button" class="btn btn-block btn-success">加币</button>
                    <button type="button" class="btn btn-block btn-info ">幸运之心</button>
                    <button type="button" class="btn btn-block btn-info">查看用户信息</button>
                    <button type="button" class="btn btn-block btn-info">用户消费账单</button>
                    <button type="button" class="btn btn-block btn-danger">冻结用户</button>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">用户: ####</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#myModal1">
                        财富日志
                    </button>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#myModal').modal('hide')
        });
        $(function () {
            $('#myModal1').modal('hide')
        });
    </script>

{% endblock %}