{% extends 'base.html' %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>角色权限</h1>
            <div class="input-group" style="width: 100%;">
                <div style="width: 100%;">
                    <div style="width: 40%;float: left;">
                        <input type="text" placeholder="输入权限名称来查找角色权限" class="form-control pull-right" id="reserv"
                               value="">
                    </div>
                    <button type="submit" id="get_search" name="getsech" class="btn btn-primary"
                            style="float: right; width: 40%;">点击查询
                    </button>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box">
                            <div class="box-body">
                                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="item1-table" class="table table-bordered table-hover dataTable"
                                                   role="grid" aria-describedby="example2_info">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting">权限ID</th>
                                                    <th class="sorting">权限名称</th>
                                                    <th class="sorting">权限描述</th>
                                                    <th class="sorting">管理操作</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tbody">
                                                </tbody>
                                                <tfoot>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                 id="example2_paginate">
                                                <ul class="pagination" id="page_all">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="dataTables_paginate paging_simple_numbers">
                                                <button type="submit" class="btn btn-info pull-right">添加角色权限</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- 弹出框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">提示！</h4>

                </div>
                <div class="modal-body">是否需要删除此角色权限</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close_role">关闭</button>
                    <button type="button" value="True" id="delete_role" class="btn btn-primary" data-dismiss="modal">
                        确认删除
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.select2').select2();

        //查询
        $('#get_search').click(function () {
            page = 1;
            Input_Data();
            Load_Data();
        });

        //初始化
        var page = 1;
        Input_Data();
        Load_Data();

        //请求数据
        function Input_Data() {
            var reserv = $('#reserv').val();
            $.get("{{ url_for('role.ajax_role') }}", {
                page: page,
                reserv: reserv,
            }, function (list) {
                var data = list.data;
                if (data) {
                    var html = '';
                    for (var i = 0; i < data.length; i++) {
                        var str = "<tr style='height:32px;border:1px solid #ccc'" + ">" +
                            "<td>" + data[i]['RoleID'] + "</td>" +
                            '<td>' + data[i]['RoleName'] + '</td>' +
                            '<td>' + data[i]['RoleDesc'] + '</td>' +
                            "<td>" + "<a href='#' >编辑&nbsp</a>" + "<a href='#' name='toDel' style='color: red' systemidvaule='" + data[i]['RoleID'] +
                            "' type='button' data-toggle='modal' data-target='#myModal'>删除</a>" +
                            "</td></tr>";
                        html += str;
                    }
                    $('#tbody').html(html);
                }
            }, "json");
        }

        //请求页码数
        function Load_Data() {
            var index = "";
            var minys = 1;
            var maxys = 1;
            var reserv = $('#reserv').val();
            $.get("{{ url_for('role.ajax_role') }}", {
                page: page,
                reserv: reserv,
            }, function (list) {
                var maxys = list.pages;
                index += "<li class='paginate_button next' id='example2_previous'>" +
                    "<a href=\"#\" aria-controls=\"example2\" data-dt-idx=\"0\"tabindex=\"0\">上一页</a></li>";
                for (var i = page - 2; i < page + 3; i++) {
                    if (i >= minys && i <= maxys) {
                        if (i == page) {
                            index += "<li class='paginate_button active'" + "mid_list='" + i + "'>" + "<a href='#' aria-controls='example2' data-dt-idx='1' tabindex='0'>" + i + "</a></li>";
                        } else {
                            index += "<li class='list'" + "mid_list='" + i + "'>" + "<a href='#' aria-controls='example2' data-dt-idx='1' tabindex='0'>" + i + "</a></li>";
                        }

                    }
                }
                index += "<li class='paginate_button previous' id='example2_next'>" +
                    "<a href=\"#\" aria-controls=\"example2\" data-dt-idx=\"0\"tabindex=\"0\">下一页</a></li>";
                $('#page_all').html(index);
                //给上一页添加点击事件
                $("#example2_previous").click(function () {
                    page = page - 1;
                    if (page < 1) {
                        page = 1;
                    }
                    Input_Data(); //加载数据
                    Load_Data(); //加载分页信息
                });
                //给下一页加点击事件
                $("#example2_next").click(function () {
                    page = page + 1;
                    if (page > maxys) {
                        page = maxys;
                    }
                    Input_Data(); //加载数据
                    Load_Data(); //加载分页信息
                });
                //给中间的列表加事件
                $(".list").click(function () {
                    page = parseInt($(this).attr("mid_list"));
                    Input_Data(); //加载数据
                    Load_Data(); //加载分页信息
                });
            }, "json");
        }

        //删除日志
        $(function () {
            $("a[name='toDel']").each(function () {
                $(this).click(function () {
                    var del_id = $(this).attr("systemidvaule");
                    $('#delete_role').val(del_id);
                    $("#delete_role").click(function () {
                        var delete_role = $('#delete_role').val();
                        $.get("{{ url_for('role.delete') }}", {delete_id: delete_role}, function (msg) {
                            location.href = msg.href;
                            location.replace(location.href);
                        });
                    });
                });
            });
        });

    </script>

{% endblock %}