{% extends 'tools_base.html' %}
{% block head %}
    <title>工具Tools</title>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-lg-4 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>AppIcon</h3>
                        <p>生成苹果和安卓icon图标</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-fw fa-file-image-o"></i>
                    </div>
                    <a href="{{ url_for('tools.appicon_upload') }}" class="small-box-footer">点击进入工具 <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>QrCode</h3>
                        <p>生成网站二维码</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-fw fa-qrcode"></i>
                    </div>
                    <a href="{{ url_for('tools.qrcodes') }}" class="small-box-footer">点击进入工具 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>Stay tuned for...</h3>
                        <p>Version 1.0</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="{{ url_for('tools.err_404') }}" class="small-box-footer">点击进入工具 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>Stay tuned for...</h3>
                        <p>Version 1.0</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="{{ url_for('tools.err_500') }}" class="small-box-footer">点击进入工具 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}