{% extends 'base.html' %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                系统设置 - 角色权限
                <small>version 2.0</small>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <div class="tab-content">
                            <div class="tab-pane active" id="fa-icons">
                                <section id="new">
                                    <h4 class="page-header">66 New Icons in 4.4</h4>
                                    <div class="row fontawesome-icon-list">
                                        <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-500px"></i> fa-500px</div>
                                    </div>
                                </section>
                            </div>
                            <div class="tab-pane" id="glyphicons">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}